.con2{
  width: 410px;
  height: 550px;
 margin-top: 20px;
  display: flex;
  transition: transform 0.5s ease;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url(/public/bg1.jpg);
  flex-direction: column;
  border-radius: 3rem;
  box-shadow: 1px 2px 32px 1px rgb(106, 4, 4);
}

.con2 button{
width: 150px;
padding: 8px;
border-radius: 1rem;
border: 0;
box-shadow: 1px 2px 40px 1px red;
color: white;
font-family: "Dancing Script", serif;
font-weight: 800;
font-size: 25px;
background: #8E0E00;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
transition: 0.6s ease-in-out;
cursor: pointer;
}

.con2 img{
  width: 200px;
  height: 300px;

}
.logo img{
  width: 120px;
  height: 150px;
  
  position: absolute;
  margin-top: -85px;
  margin-left: -60px;
}

/* label{
  font-family: "Dancing Script", serif;
  font-size: 45px;
  color: #590f07;
  text-shadow: 1px  2px 1px black;
  
} */

